<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semin.app.board.notice.NoticeMapper">
	<!-- File -->
	<insert id="createFile" parameterType="NoticeFileDTO">
		INSERT INTO TB_NOTICEFILE
		VALUES(NOTICE_SEQ.NEXTVAL, #{fileName}, #{noticeNo}, #{oriName})
	</insert>
	<!-- File 끝 -->

	<!-- 반복되는 쿼리문 -->
	<sql id="search">
		WHERE
		<choose>
			<when test="kind == 'v2'">NOTICE_CONTENTS</when>
			<when test="kind == 'v3'">PROFESSOR_NO</when>
			<otherwise>NOTICE_TITLE</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
	</sql>

	<select id="list" resultType="NoticeDTO" parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM AS R, T.* FROM
		(SELECT * FROM TB_NOTICE
		<include refid="search"></include>
		ORDER BY NOTICE_NO DESC) T)
		WHERE R BETWEEN #{first} AND #{last}
	</select>

	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NOTICE_NO) FROM TB_NOTICE
		<include refid="search"></include>
	</select>

	<select id="detail" resultMap="detailResult" parameterType="NoticeDTO">
		SELECT * FROM TB_NOTICE n
		LEFT JOIN TB_NOTICEFILE f
		<!-- ON n.NOTICE_NO = f.NOTICE_NO -->
		USING(NOTICE_NO)
		WHERE NOTICE_NO = #{noticeNo}
	</select>

	<!-- 수동 매핑 -->
	<resultMap type="NoticeDTO" id="detailResult">
		<!-- ID = Primary Key -->
		<id column="NOTICE_NO" property="noticeNo"/>
		<!-- 그외 나머지 -->
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENTS" property="noticeContents"/>
		<result column="PROFESSOR_NO" property="professorNo"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		<result column="NOTICE_HITS" property="noticeHits"/>
		<!-- 1:1
		<association property="" type="">
			<id/>
			<result/>
		</association> -->
		<!-- 1:N -->
		<collection property="list" javaType="java.util.List" ofType="NoticeFileDTO">
			<id column="FILE_NO" property="fileNo"/>
			<result column="FILE_NAME" property="fileName"/>
			<result column="ORI_NAME" property="oriName"/>
		</collection>
	</resultMap>

	<insert id="create" parameterType="NoticeDTO">
		<selectKey order="BEFORE" resultType="Long" keyProperty="noticeNo">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO TB_NOTICE
		VALUES(#{noticeNo}, #{noticeTitle}, #{noticeContents}, #{professorNo}, SYSDATE, 0)
	</insert>

	<delete id="delete" parameterType="NoticeDTO">
		DELETE TB_NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</delete>

	<update id="update" parameterType="NoticeDTO">
		UPDATE TB_NOTICE
		SET NOTICE_TITLE = #{noticeTitle},
		NOTICE_CONTENTS = #{noticeContents},
		PROFESSOR_NO = #{professorNo},
		NOTICE_DATE = SYSDATE,
		NOTICE_HITS =
		#{noticeHits}
		WHERE NOTICE_NO = #{noticeNo}
	</update>

</mapper>